/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  text-transform: uppercase;
}

label {
  text-transform: capitalize;
  font-weight: 500;
  padding: 10px 0;
}

/* Hide Arrows Input Number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


